.img-responsive {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.pull-right {
    float: right!important;
}

.mdl-cell iframe {
  width: 100% !important;
  height: 600px;
  padding-top: 26px;
}