.App {
  width: 90%;
  margin: auto;
}
.galleryCard,
.imgCard {
  width: 100%;
  margin: auto;
  height: 100%;
}

.imgCard {
  min-height: 64px;
  cursor: url('./img/plus_cursor.png') 25 25, pointer;
}
.galleryCard {
  min-height: 320px;
}
.galleryCard .mdl-card__actions {
  height: auto;
  padding: 16px;
  background: rgba(0,0,0,0.6)
}
.galleryCard button {
  display: block;
  position: relative;
  left:0px;
}
.galleryCard span {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

/*Dialog*/
.galleryDialog {
  width: 90%;
  height: auto;
}

/*FIX for dialog in IE */
._dialog_overlay
{
  z-index: 0 !important;   
}



/* Animations */

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}