@media screen and (max-width: 650px) {
  .mdl-layout__header-row .mdl-navigation {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .App {
    width: 100%;
  }  
  .mdl-layout__header {
      display: block !important;
  }
  .mdl-layout__drawer-button {
      margin: 4px;
      color: rgb(255,255,255);
  }
}
@media screen and (min-width: 1025px) {
  .App {
    width: 90%;
    margin: auto;
  }
}

.mdl-layout-title {
  cursor: pointer;
}

/*Dialog*/
.galleryDialog {
  width: 90%;
  height: auto;
}

/*FIX for dialog in IE */
._dialog_overlay
{
  z-index: 0 !important;   
}


